<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<% @contacts.each do |contact| %>
  <p>a:<%= contact.name %></p>
  <p>b:<%= contact.email %></p>
  <p>c:<%= contact.content %></p>
<% end %>